{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sensor</title>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Sensor</a>
      </nav>

      <div class="container">
            <div class="row justify-content-center">
                    <h2 class="mt-5">SENSOR IS ON</h2>
            </div>
            <div class="row justify-content-center">
                    <a href="{% url 'switch:sensor-off' %}"><button type="button" class="btn btn-primary btn-lg mt-5 mb-5">Use Switch</button></a>
            </div>
      </div>

      <script src="{% static 'js/bootstrap.js' %}"></script>
      <script src="{% static 'js/jquery.js' %}"></script>
  </body>   
</html>
