{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Light Switch</title>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Light Switch</a>
      </nav>

      <div class="container">
            <div class="row justify-content-center">
                    <img id="bulb" src="{% static 'images/light-off.png' %}" class="img-fluid w-50 h-50 mt-5" onclick="clickk()">
            </div>
            <div class="row justify-content-center">
                    <h2 onclick="clickk()">CLICK ME</h2>
            </div>
            <!-- <div class="row justify-content-center">
                    <h4 class="mt-5">OR</h2>
            </div> -->
            <div style="margin-top: 5rem;">

            </div>
            <div class="row justify-content-center" style="font-weight: bold; font-size: 20px;">
                <p id="sensor-word" style="display: block; height: 1rem;">LDR Sensor is on!</p>
                <div id="blank" style="height: 1rem;"></div>
            </div>
            <div id="sensor-button" class="row justify-content-center">
                <img src="{% static 'images/sensor-on.png' %}" id="sensor-img" class="img-fluid w-50 h-50 mt-5" onclick="sensorfunc()"/>
                <!-- <a onclick="sensorfunc()" href="{% url 'switch:sensor-on' %}"><button type="button" class="btn btn-primary btn-lg mt-5 mb-5">Use Sensor</button></a> -->
            </div>
      </div>

      <script src="{% static 'js/bootstrap.js' %}"></script>
      <script src="{% static 'js/jquery.js' %}"></script>
      <script>
        var off = true;
        var sensorOff = false;
    
        function clickk() {
            if (sensorOff) {
                if (off) {
                    sendAjax("{% url 'switch:light-on' %}");
                    changeColor("{% static 'images/light-on.png' %}");
                    off = false;
                } else {
                    sendAjax("{% url 'switch:light-off' %}");
                    changeColor("{% static 'images/light-off.png' %}");
                    off = true;
                }
            }
        }

        function sendAjax(urll) {
            $.ajax({
                  url: urll,
                  method: "GET",
                  success: function(data) {
                      console.log(data)
                  },
                  error: function(data) {
                      alert("ERROR!");
                  }
                });
        }

        function changeColor(color) {
            $("#bulb").attr("src", color);
        }

        function sensorfunc() {
            if (sensorOff) {
                $('#sensor-word').css('display', 'block');
                $('#blank').css('height', '0')           
                sendAjax("{% url 'switch:sensor-on' %}");
                $('#sensor-img').attr("src","{% static 'images/sensor-on.png' %}")
                sensorOff = false;
            } else {
                $('#sensor-word').css('display', 'none');
                $('#blank').css('height', '2rem')           
                sendAjax("{% url 'switch:sensor-off' %}");
                $('#sensor-img').attr("src","{% static 'images/sensor-off.png' %}")
                sensorOff = true;
            }
        }
      </script>
  </body>   
</html>
